<div class='row'>
  <div class='col-lg-4'>
    <p>В наличие: <%= @product.amount %> товара</p>

    <%= simple_form_for @order, url: product_orders_path(@product) do |f| %>

        <p>
          <%= f.input :amount, collection: 1..@product.amount, prompt: 'Введите количество товара', selected: 1%>
        </p>

        <p>
          <%= f.submit %>
        </p>
    <% end %>
  </div>
</div>