.slide{
  width: 100%;
}

.list-group{
  background-color: #fff3b1;
}

.list-group h3{
  color: #000;
}

.list-group p{
  color: #000;
}
.list-group-item{
  background-color: #fff3b1;
}

.list-group-item a{
  background-color: #fff3b1;
  color: #0c1a1e;
}

